
/**
 * <%= description %>
 *
 * @author <%= personName %>
 * @version 0.0.1
 */
public class <%= className %> {
    // Instance variables.

    /**
     * Constructor for objects of class model
     */
    public <%= className %>()
    {
        // Initialise instance variables
    }
}
